.strike {
    text-decoration: line-through;
}

/* borders around all images used in figures */
div.figure img {
    border: solid lightgray 1px;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.large-and-bold {
    color: red;
    font-weight: bold;
    font-size: 200%;
}

pre.literal-block {
    font-size: 12px;
    line-height: normal;
    padding: 12px !important;
}

.rst-content .deprecated {
 color: black;
     background: #fc888a;
}
.deprecated > .admonition-title {
     background: #d67173 !important;

}
