.strike {
    text-decoration: line-through;
}

/* borders around all images used in figures */
div.figure img {
    border: solid lightgray 1px;
}

.blue {
    color: blue;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}
